$background-color-1: #051923;
$background-color-2: #003554;
$background-color-3: #006494;
$background-color-4: #0582ca;
$background-color-5: #00a6fb;

$font-color: #ffffff;
$shadow-color: #000000;

$background-color-start: $background-color-5;
$background-color-resume: $background-color-4;
$background-color-pause: $background-color-3;
$background-color-reset: $background-color-2;